/modules/__init__.py
/apidata.py
/apiproject.py
/db.sqlite3
/.idea/misc.xml
/.idea/modules.xml
/newsemails.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pyprojects.iml
/rough.py
/.idea/vcs.xml
